<h1>My Reservations</h1>

<div id="new-reservation">
	<h3><%= link_to "New Reservation", new_reservation_path %>
</div>
<div class="reservations-list", id="participated-reservations">
	<h2>My participated reservations</h2>
	<%= render "reservations_list", :reservations=> @participated_reservations %>
</div>
<div class="reservations-list", id="organized-reservations">
	<h2>My organized reservations</h2>
	<%= render "reservations_list", :reservations=> @organized_reservations %>
</div>
